#my-limit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 10000;
}

#my-limit-content {
  background: white;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: auto;
  padding:25px;
}

#my-limit-text {
  text-align: center;
}
